.border { */
  border: solid 1px black;
 } 
 .bgColor {
  background-color: black;
}
.border {
  /* border: solid 1px black; */
}
.bgColor {
  background: lightcoral;
}

header {
  background-color: pink;
}
footer {
  background-color: pink;
}
li {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
}
a {
  text-decoration: none;
}
ul {
  display: flex;  
}
.gridContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "header header"
    "imgPrincipal imgPrincipal"
    "encabezado encabezado"
    "img texto"
    "img2 texto2"
    "footer footer";
}

header {
  grid-area: header;
  display: flex;
}
.imgPrincipal {
  grid-area: imgPrincipal;
}
.encabezado {
  grid-area: encabezado;
  text-align: center;
}
.texto {
  grid-area: texto;
  padding: 50px;
}
.img {
  grid-area: img;
}
.texto2 {
  grid-area: texto2;
  padding: 50px;
}
.img2 {
  grid-area: img2;
  height: 300px;
  overflow: hidden;
}
footer {
  grid-area: footer;
  /* display: flex;
  justify-content: space-around; */
}
.imgPrincipal img,
.img,
img {
  width: 100%;
}
nav {
  width: 100%;
}
.gridServicio2 {
  display: grid;
  grid-template-columns: 1fr 1fr
  grid-template-rows: auto auto auto auto auto;
  grid-template-areas:
    "header header"
    "encabezado encabezado"
    "img texto"
    "img2 texto2"
    "footer footer";
}
.gridProducto{
  display: grid;
  grid-template-areas:
  "header header header"
  "main main main"
  "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
}
header{grid-area: header;}
main{grid-area: main; display: flex;
  display: grid;
  grid-template-areas:
  "encabP encabP encabP" 
  "imgP imgP imgP" 
  "cardIzq cardCen cardDer"
  "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
}
.encabP{grid-area: encabP;text-align: center;}
.cardIzq{grid-area: cardIzq; padding: 50px;} 
.cardCen {grid-area: cardCen; padding: 50px}
.cardDer{grid-area: cardDer; padding: 50px}
.imgP{grid-area: imgP; display: flex; height: 400px; padding: 50px}
footer{grid-area: footer;}



